<DOCTYPE html>
  <html>
    <head>
      {{{styles}}}
    </head>
    <body {{{bodyClasses}}}>
      <div class="wrapper">
        <div class="content-wrapper">
          <div class="content">
            <div class="dear"></div>
            <div class="city-state"></div>
            <div class="user-info">
              <div class="avatar">
                {{#if avatar}}
                  <div class="avatar-wrapper">
                    <span class="avatar-image" style="background: url({{{avatar}}})"></span>
                  </div>
                {{/if}}
              </div>
              <div class="signature">
                <div class="signature-name"></div>
                <div class="signature-city-state"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="senator-image">
          <div class="senator-image-wrapper">
            <img src="{{base_url}}/images/{{senator_name}}.jpg" alt="{{senator_name}}">
          </div>
        </div>
      </div>
      {{{scripts}}}
    </body>
  </html>