<DOCTYPE html>
  <html>
    <head>
      {{{styles}}}
      <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
      <script src="//use.typekit.net/xvi6pll.js"></script>
      <script>try{Typekit.load();}catch(e){}</script>
    </head>
    <body {{{bodyClasses}}}>
      <div class="wrapper">
        <div class="top">
          <div class="hey">Hey, <span class="red-text">Senator {{senator_last}}...</span></div>
        </div>
        <div class="bottom">
          <div class="avatar">
            {{#if avatar}}
              <div class="avatar-wrapper">
                <span class="avatar-image" style="background-image: url({{{avatar}}})"></span>
              </div>
            {{/if}}
          </div>
          <div class="signature">
            <div class="signature-name">{{first}} {{last}}</div>
            <div class="signature-city-state red-text">
              {{{city}}}
              {{#if state}}
                {{#if city}}
                  ,
                {{/if}}
              {{/if}}
              {{#if city}}
                {{state}}
              {{else}}
                {{state_full}}
              {{/if}}
            </div>
          </div>
          <div class="senator">
            <div class="senator-image">
              <div class="senator-image-wrapper">
                {{#if variants}}
                  <img src="{{{senator_image}}}" alt="{{senator_last}}">
                {{/if}}
              </div>
            </div>
            <div class="senator-info">Senator {{senator_first}} {{senator_last}}, VA Dist {{senator_dist}}</div>
          </div>
        </div>
      </div>
    </body>
  </html>